<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NuSync"
        tools:targetApi="31">

        <activity
            android:name=".EditLensOrderDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_lens_order_details"
            android:theme="@style/Theme.NuSync" />
        <activity
            android:name=".CommentsActivity"
            android:exported="false"
            android:label="@string/title_activity_comments"
            android:theme="@style/Theme.NuSync" />
        <activity
            android:name=".EditUserOrdersActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_user_orders"
            android:theme="@style/Theme.NuSync" />
        <activity
            android:name=".CompletedOrdersActivity"
            android:exported="false"
            android:label="@string/title_activity_completed_orders"
            android:theme="@style/Theme.NuSync" />
        <activity
            android:name=".PartiallyCompletedOrderActivity"
            android:exported="false"
            android:label="@string/title_activity_partially_completed_order"
            android:theme="@style/Theme.NuSync" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:label="@string/title_activity_history"
            android:theme="@style/Theme.NuSync" />
        <activity
            android:name=".StocksActivity"
            android:exported="false"
            android:label="@string/title_activity_stocks"
            android:theme="@style/Theme.NuSync" />
        <activity
            android:name=".RequirementsActivity"
            android:exported="false"
            android:label="@string/title_activity_requirements"
            android:theme="@style/Theme.NuSync" />
        <activity
            android:name=".LensOrderActivity"
            android:exported="false"
            android:label="@string/title_activity_lens_order"
            android:theme="@style/Theme.NuSync" />
        <activity
            android:name=".LensSearchActivity"
            android:exported="false"
            android:label="@string/title_activity_lens_search"
            android:theme="@style/Theme.NuSync" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.NuSync" />
        <activity
            android:name=".CreateNewUserActivity"
            android:exported="false"
            android:label="@string/title_activity_create_new_user"
            android:theme="@style/Theme.NuSync" />
        <activity
            android:name=".PhoneLogin"
            android:exported="true"
            android:theme="@style/Theme.NuSync">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="utils.MyFirebaseMessagingService"
            android:exported="false"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_200" />
    </application>

</manifest>